	github "Alamofire/Alamofire"							 	# easy API call framework
	github "omaralbeik/SwifterSwift"							# useful type extensions
	github "OAuthSwift/OAuthSwift"								# OAuth Framework for the car2go API
	github "OAuthSwift/OAuthSwiftAlamofire"						# OAuth Integration for Alamofire
	github "Alamofire/AlamofireNetworkActivityIndicator"		# Show Network Spinner in Status Bar when Alamofire is active
	github "delba/JASON"									 	# deal with JSON responses more easily
	github "matthewpalmer/Locksmith"							# better keychain usage
	github "hackiftekhar/IQKeyboardManager"						# adjust view automatically when keyboard is present (for login with providers) - init in AppDelegate